name: CI/CD Pipeline

on:
  push:
    branches: [ "dev" ]
  pull_request:
    branches: [ "dev" ]

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build_test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Validate composer.json
      run: composer validate --strict

    - name: Cache Composer packages
      id: composer-cache
      uses: actions/cache@v3
      with:
        path: vendor
        key: ${{ runner.os }}-php-${{ hashFiles('**/composer.json') }}
        restore-keys: |
          ${{ runner.os }}-php-

    - name: Install dependencies
      run: composer install --prefer-dist --no-progress

    - name: Enable Xdebug
      run: echo "XDEBUG_MODE=coverage" >> $GITHUB_ENV

    - name: Run CS checks
      run: composer run-script check

    - name: Run test suite with coverage
      env:
        PINECONE_API_KEY: ${{ secrets.PINECONE_API_KEY }}
      run: vendor/bin/phpunit --testdox --coverage-html ./tests/Reports

    - name: Upload coverage report
      uses: actions/upload-artifact@v4
      with:
        name: coverage-report
        path: ./tests/Reports
        retention-days: 2

  upload-coverage-report:
    if: github.ref == 'refs/heads/main' || github.ref == 'refs/heads/dev'
    needs: build_test
    runs-on: ubuntu-latest
    steps:
      - name: Download coverage report artifact
        uses: actions/download-artifact@v4
        with:
          name: coverage-report
          path: ./tests/Reports

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./tests/Reports

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4

  install:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        run_number: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
    steps:
      - name: Install the package (Run ${{ matrix.run_number }})
        run: composer require mbvb1223/pinecone-php-client --no-cache --prefer-dist --no-progress
